
bg                  = #363B40
side-bar-bg         = #2E3033
text                = #b8bfc6
code-block-bg       = inherit     //#f8f8f8

item-hover-bg       = #0a0d16
control-text        = #b7b7b7
control-text-hover  = #eee
window-border       = 1px dashed #9b9b9b

active-file-bg      = rgb(34, 34, 34)
active-file-border  = #8d8df0

primary             = #a3d5fe


active-file-text    = white
item-hover-bg       = 70717d
item-hover-text     = white
primary             = #6dc1e7
