// @import "night.css"
@import "mqm/night"

ol > li > ol > li > blockquote,
ol > li > ul > li > blockquote,
ul > li > ol > li > blockquote,
ul > li > ul > li > blockquote
	margin				0.5rem 0
	padding				0
	border-left-style	none
	
ol > li > ol
ul > li > ol
	list-style-type		upper-alpha

code,
tt,
var
	background #333