@require "original"

ol > li > ol > li > blockquote,
ol > li > ul > li > blockquote,
ul > li > ol > li > blockquote,
ul > li > ul > li > blockquote
	color	#7a7
	margin	0.5rem 0

ol > li > ol > li,
ol > li > ul > li,
ul > li > ol > li,
ul > li > ul > li
	// color	#a77
