@require "original"

ol > li > ol > li > blockquote,
ol > li > ul > li > blockquote,
ul > li > ol > li > blockquote,
ul > li > ul > li > blockquote
	padding-left		0px
	margin				0px
	border-left-style	none
	margin-top			35px
	color				#4f4